@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(images/pattern-background-mobile.svg);
 
  background-repeat: no-repeat;
  
  max-width: 375px;
  font-family: 'Red Hat Display', sans-serif;
  font-size:16px;
  background-color: var(--Pale-blue);
  min-height: 100vh;
  padding:5rem 1rem;
}

 .hero-image{
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  
  
} 


.container{
 
  max-width:98%;
 border-radius: 20px;
  background-color: white;
  margin: 0 auto;
 
}
.text-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2.5rem;
}
h1{
  font-size: 1.5rem;
  opacity: 80%;
  font-weight: 900;
}

.card-p{
  line-height: 1.5;
  color: var(--Desaturated-blue);
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.payment-info{
  display: flex;
  background-color: var(--Very-pale-blue);
  padding: 1rem 1rem;
}
.payment-info img{
 
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;

}

.plan p:nth-of-type(1){
 font-size: 1rem;
 font-weight: 700;
 opacity: 70%;
 margin-bottom: 0.2rem;
}
.plan p:nth-of-type(2){
  color: var(--Desaturated-blue);
  opacity: 70%;
}

.plan{
  margin-right: 3rem;
}
a{
  font-size: 1rem;
  color:var(--Bright-blue) ;
  font-weight: 700;
  margin-top: 0.5rem;
  opacity: 70%;
}
a:hover{
 text-decoration: none;
 cursor: pointer;
}

.proceed {
  display: block;
  color: var(--Pale-blue);
  background-color: var(--Bright-blue);
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 4rem;
  border-radius: 10px;
  border: 1px solid var(--Bright-blue);
  box-shadow: 5px 10px 40px hsl(223, 47%, 23%);
}
.proceed:hover{
  background-color: rgb(128, 71, 241);
  border: none;
  cursor: pointer;
}

.cancel{
  margin:1.5rem auto;
  display: block;
  color: var(--Desaturated-blue);font-size: 1rem;
  font-weight: 700;
  opacity: 70%;
  padding: 1rem 4rem;
  background: transparent;
  border: none;
  

}


@media only screen and (width: 376px) 
{

  body{
    background-image: url(images/pattern-background-mobile.svg);
   
    background-repeat: no-repeat;
    
    max-width: 375px;
    font-family: 'Red Hat Display', sans-serif;
    font-size:16px;
    background-color: var(--Pale-blue);
    min-height: 100vh;
    padding:5rem 1rem;
  }

}

@media(min-width:400px)
{

  body{
    background-image: url(images/pattern-background-desktop.svg);
   
    background-repeat: no-repeat;
    margin: 0 auto;
    
    font-family: 'Red Hat Display', sans-serif;
    font-size:16px;
    background-color: var(--Pale-blue);
    min-height: 100vh;
   
  }
 

}


 
