@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(images/pattern-background-mobile.svg);
 
  background-repeat: no-repeat;
  
  max-width: 375px;
  font-family: 'Red Hat Display', sans-serif;
  font-size:16px;
  background-color: var(--Pale-blue);
  min-height: 100vh;
  padding:5rem 1rem;
}

 .hero-image{
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  
  
} 


.container{
 
  max-width:98%;
 border-radius: 20px;
  background-color: white;
  margin: 0 auto;
 
}
.text-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2.5rem;
}
h1{
  font-size: 1.5rem;
  opacity: 80%;
  font-weight: 900;
}

.card-p{
  line-height: 1.5;
  color: var(--Desaturated-blue);
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.payment-info{
  display: flex;
  background-color: var(--Very-pale-blue);
  padding: 1rem 1rem;
}
.payment-info img{
  border: 2px solid red;
  margin-right: 1rem;
  width: 100%;

}


 
